.nav-right {
  width: 5%;
  height: 100vh;
  right: 0;
  background-color: blue;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}
.nav-right button {
}

.nav-left {
  width: 5%;
  height: 100vh;
  left: 0;
  background-color: green;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}
